# ---- Supabase ----
NEXT_PUBLIC_SUPABASE_URL=https://TU-PROYECTO.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJ...anon...
# Solo servidor (NUNCA en el cliente):
SUPABASE_SERVICE_ROLE_KEY=eyJ...service_role...

# ---- Stripe ----
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_...
STRIPE_SECRET_KEY=sk_test_...
STRIPE_WEBHOOK_SECRET=whsec_...

# URL pública de la app (para enlaces y QR)
NEXT_PUBLIC_BASE_URL=http://localhost:3000
